:root{
  --white-color: #ffffff;
  --whitegray-color: #fafcfe;
  --green-color: #57be6c;
  --black-color: #101010;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'ROKAFSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* main */
.main {
  background-color: var(--whitegray-color);
  text-align: center;
  width: 80%;
}

.main h1 {
  padding: 20px;
  font-family: 'ROKAFSansBold';
}

.main p {
  font-family: 'GmarketSansMedium';
}

.main img {
  width: 80%;
  margin: 20px;
}

.main .startBtn {
  margin-bottom: 20px;
  background-color: var(--white-color);
  border: 2px solid var(--green-color);
  color: var(--green-color);
  font-weight: bold;
  border-radius: 5px;
  width: 150px;
  height: 40px;
}

.main .startBtn:hover {
  margin-bottom: 20px;
  border: 3px solid var(--green-color);
  color: var(--white-color);
  background-color: var(--green-color);
  font-weight: bold;
}

p {
  font-size: 20px;
  line-height: 25px;
}

.hidden {
  display: none;
}